@font-face {
    font-family: 'inter';
    src: url("../social-links-profile/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'inter';
    background-color:  hsl(0, 0%, 8%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 23%;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    gap: 1.5rem;
    padding: 10px 20px 20px;
    border-radius: 15px;
}
img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
}
h3{
    font-weight:600;
    padding: 0 0 5px;
    font-size: 20px;
}
h4{
    color: hsl(75, 94%, 57%);
    font-size: 12px;
    padding: 0 0 20px;
}
p{
    color: rgb(208, 202, 202);
    font-size: 12px;
}
ul{
    list-style: none;
}
li {
    text-decoration: none;
    padding: 10px 80px 10px;
    margin: 15px 0 0;
    background-color: hsl(0, 1%, 22%);
    border-radius: 10px;
    cursor: pointer;
}
li:hover{
    background-color: hsl(75, 94%, 57%) !important;
}
@media screen and (max-width: 375px) {
    [class*="container"]{
        height: 100%;
        width: max-content;
    }
    [class*="links"]{
        width: fit-content;
    }
}
@media screen and (max-width: 1440px) {
    [class*="container"]{
        height: 100%;
        width: max-content;
    }
    [class*="links"]{
        width: fit-content;
    }
}